<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<style>
body {
	background-color: #FFFFD4;
  position: relative;
}

.container-fluid{
	background-color: #D6FFAD;
}

/* unvisited link */
a:link {
    color: #00000;
}

/* visited link */
a:visited {
    color: #000000;
}

/* mouse over link */
a:hover {
    color: #944d4d;
}

/* selected link */
a:active {
    color: #000000;
}
</style>


</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Beautiful Bars</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/account">Account Info</a></li>
        <li><a href="/c3visualization">C3 Visualization</a></li>
        <li><a href="/visualization">D3 Visualization</a></li>
        <li><a href="/ourd3vis">Our D3 Visualization</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h2>Account Information</h2>          
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Instagram ID</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{user.name}}</td>
        <td>{{user.ig_id}}</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>

