<head>

<style>
body {
	background-color: #FFFFD4;
}

.container-fluid{
	background-color: #D6FFAD;
}
</style>
</head>

<body> 

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Beautiful Bars</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/account">Account Info</a></li>
        <li class="active"><a href="/c3visualization">C3 Visualization</a></li>
        <li><a href="/visualization">D3 Visualization</a></li>
        <li><a href="/ourd3vis">Our D3 Visualization</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<h1> Amount of users your friends follow on Instagram using C3JS </h1>
<div id="chart"></div>

<script src="js/c3visualization.js"></script>
</body>
