<head>
<style>
body {
	background-color: #FFFFD4;
}
</style>
</head>

<div class="row">
<div align = "center">
<h1>
Welcome to Beautiful Bars!
</h1>
</div>
</div>

<tr class="blank_row">
    <td colspan="3"></td>
</tr>

<div class="row">
<div align ="center">
<a href="/auth/instagram"><img src="https://bedloo-assets.s3.amazonaws.com/assets/content/button-instagram-signin-a0653366b8e65d40e401c50330cdb0f8.png"</a>
</div>
</div>