<h1> Our D3 Visualization </h1>
<label><input type="radio" name="mode" value="grouped"> Grouped</label>
<label><input type="radio" name="mode" value="stacked" checked> Stacked</label>

<div id="chart"></div>

<script src="js/ourd3vis.js"></script>
